body {
    text-align: center;
    background: rgb(231, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#typeSelector{
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
}